.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.imagePreview {
  max-width: 100%;
  max-height: 500px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
} 